.btn-default {
    border: 0.1em solid $darkgrey;
    font-weight: bold;
    background: white;
    color: $darkgrey;

    &:hover {
        background: lighten($lightgrey, 15);
        color: black;
    }
}
