.comment-stream {
    padding: 2rem 0;

    .comment {
        border-bottom: 0.1rem solid $lightgrey;
        margin: 0;
        padding: 1.5rem 0;

        .comment-info {
            align-items: center;

            .avatar {
                margin-right: 0.5rem;
                width: 2.8rem;
                height: 2.8rem;
            }
        }
    }
}
