#info {
    .accept-decline {
        margin-bottom: 2em;
    }
}

.description, #voices {
    padding-top: 1em;
}

.side-box {
    ul.dates, ul.voices {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
