.list-table {
    padding: 0 15px;
    background: white;
    margin-top: 1em;

    header {
        font-weight: bold;
        background: $brand-primary;
        color: white;
        padding: 0.5rem 0;

        > div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            &.has-checkbox {
                padding: 0 15px;

                input[type="checkbox"] {
                    margin: 15px 0;
                }
            }
        }

        .row-count {
            font-size: 0.85em;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .dropdown {
            display: inline-block;

            &.list-actions {
                display: inline-block;

                .dropdown-toggle {
                    padding: 9px 5px;
                    display: inline-block;

                    &:hover, &:focus {
                        background: darken($brand-primary, 10);
                    }
                }
            }

            .dropdown-item {
                span.oi {
                    margin-right: 0.25rem;
                }
            }
        }

        .btn-group {
            margin-left: 0.5em;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > a {
            color: inherit;

            &:hover {
                text-decoration: none;

                li {
                    border-color: $brand-primary;
                }
            }
        }

        li {
            padding: 1rem 0;
            border: 0.05rem solid darken($lightgrey, 5);
        }
    }

    a.list-sort {
        font-size: 0.75rem;
        color: darken($lightgrey, 20);

        &:first-of-type {
            margin-left: 0.5em;
        }

        &.active {
            color: inherit;
        }

        .oi {
            font-size: 0.6rem;
            margin: 0 -0.125rem;
        }
    }

    .btn-group {
        .btn {
            .info-text {
                display: none;
            }

            &.clicked {
                .info-text {
                    display: inline;
                }
            }
        }
    }
}

.user-actions, .actions {
    text-align: right;

    span.oi {
        color: $brand-primary;
    }
}
