.list-table {
    padding: 0 15px;
    background: white;
    margin-top: 1em;
    border: 0.05rem solid darken($lightgrey, 5);

    header {
        font-weight: bold;
        box-shadow: 0 0.2rem 0.2rem -0.1rem darken($lightgrey, 10);
        background: $brand-primary;
        color: white;

        > div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            &.has-checkbox {
                padding: 0 15px;

                input[type="checkbox"] {
                    margin: 15px 0;
                }
            }
        }

        .row-count {
            font-size: 0.85em;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .dropdown {
            display: inline-block;

            &.list-actions {
                display: inline-block;

                .dropdown-toggle {
                    padding: 9px 5px;
                    display: inline-block;
    
                    &:hover, &:focus {
                        background: darken($brand-primary, 10);
                    }
                }
            }
        }

        .btn-group {
            margin-left: 0.5em;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > a {
            color: inherit;

            &:hover {
                text-decoration: none;

                li {
                    background: $lightgrey;
                }
            }
        }

        li {
            padding: 1rem 0;
            border-bottom: 0.1rem solid darken($lightgrey, 5);
        }
    }

    a.list-sort {
        font-size: 0.75rem;
        color: darken($lightgrey, 20);

        &:first-of-type {
            margin-left: 0.5em;
        }

        &.active {
            color: inherit;
        }

        .oi {
            font-size: 0.6rem;
            margin: 0 -0.125rem;
        }
    }

    .btn-group {
        .btn {
            .info-text {
                display: none;
            }

            &.clicked {
                .info-text {
                    display: inline;
                }
            }
        }
    }
}

.no-results {
    padding: 0.5em 1em;
    margin-top: 1em;
    border: 0.1em dotted darken($lightgrey, 10);
}

.user-actions, .actions {
    text-align: right;

    span.oi {
        color: $brand-primary;
    }
}

ul.rehearsals,
ul.concerts,
ul.projects {
    padding: 0;

    a {
        color: inherit;

        &:hover {
            text-decoration: none;

            li {
                background: darken($lightgrey, 10);
                border-left: 0.25em solid $brand-primary;
            }
        }

        li {
            font-size: 0.85em;
            padding: 0.5em 1em;
            border-left: 0.25em solid transparent;
            border-bottom: 0.1em solid darken($lightgrey, 5);
            display: flex;
            align-items: center;

            span, div {
                flex-grow: 1;
            }

            .accept-decline {
                margin: 0 !important;
                text-align: right;
            }
        }
    }
}
