ul.concerts {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    &.page-header {
        h2 {
            margin-right: 0.5rem;
        }

        a.btn-link {
            padding: 0 0.5rem;
            color: $brand-primary;
        }
    }
}

.accept-decline, .attendance-buttons {
    .btn {
        padding: 0.05rem 0.5rem;
        border-radius: 100%;
        border-width: 0.05rem;

        &:hover {
            cursor: pointer;
        }

        &.btn-default {
            color: $midgrey;
            border-color: $midgrey;
        }
    }
} 

.accept-decline > span,
.attendance-buttons a {
        display: inline-block;
        padding: 0 0.25em;
        border: 0.1em solid;
        border-radius: 100%;
        width: 1.75em;
        height: 1.75em;
        text-align: center;

        &.text-success {
            border-color: $brand-success;
        }

        &.text-danger {
            border-color: $brand-danger;
        }
        
        &:hover {
            cursor: pointer;
        }
}
