
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

$enable-flex: true !default;

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

@import "forms";
@import "buttons";

@import "concerts";

header {
    &.page-header {
        margin: 2rem 0 1.5rem;

        h2 {
            display: inline;
            margin-right: 1rem;
        }

        .btn-sm {
            position: relative;
            bottom: 0.4rem;
            font-size: 0.75rem;
        }
    }
}
