
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Pacifico');

// Variables
@import "variables";

$enable-flex: true !default;

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-multiselect/dist/css/bootstrap-multiselect.css";

// Bootstrap datetimepicker
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.css";

@import "forms";
@import "buttons";
@import "loader";

@import "lists";
@import "filters";
@import "concert";
@import "project";
@import "voices";
@import "dashboard";

.navbar-dark .navbar-brand {
    font-family: "Pacifico", cursive;
    font-size: 1.25rem;
}

#app {
    .navbar {
        background: $brand-primary;
        padding: 0 1rem;

        .dropdown-item {
            padding: 0;

            a {
                color: $brand-primary;
                width: 100%;
                display: inline-block;
                padding: 0.75rem;

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: $lightgrey;
                }
            }
        }
    }
}

.wrapper {
    display: flex;
    align-items: stretch;

    #sidebar {
        min-width: 200px;
        max-width: 200px;
        min-height: 100vh;

        background: $lightgrey;
        border-right: $light-border;

        .nav-item {
            border-bottom: $light-border;

            .nav-link {
                font-size: 0.8rem;
                text-transform: uppercase;
                padding: 0.75rem 1rem;
                color: $darkgrey;
                transition: background 0.2s ease;

                &:hover, &:focus, &.active {
                    background: darken($lightgrey, 5);
                }
            }
        }
    }

    #content {
        padding: 1rem 2rem;
    }
}

header {
    &.page-header {
        margin: 2rem 0 1.5rem;

        h2 {
            display: inline;
            margin-right: 1rem;
            color: $brand-primary;
            font-weight: bold;
        }

        .btn-sm {
            position: relative;
            bottom: 0.4rem;
            font-size: 0.75rem;
        }

        .light {
            color: darken($lightgrey, 20);
        }

        .btn-group {
            vertical-align: inherit;
        }
    }
}

.form-inline {
    display: inline;
}

.btn-link {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

label {
    &.control-label {
        font-weight: 600;
        // text-transform: uppercase;
        // font-size: 0.8rem;
    }
}

.oi {
    font-size: 0.75em;
    top: 0;
}

.light {
    color: $lightgrey;
}

.tab-content {
    padding-top: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 0.1em solid darken($lightgrey, 15);
    padding-bottom: 0.25rem;
    margin-bottom: 1em;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    a {
        text-transform: none;
    }
}

.side-box {
    padding: 1rem;
    background: $lightgrey;
    align-self: flex-start;
    border-top: 0.25rem solid $brand-primary;

    h3 {
        margin-bottom: 0.5em;
    }
}

ul.breadcrumbs {
    font-size: 0.8em;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;
        margin-right: 0.25em;

        a {
            color: $brand-primary;
        }
    }
}

.margin-top {
    margin-top: $default-margin-size;
}

.margin-bottom {
    margin-bottom: $default-margin-size;
}

.alert-sm {
    font-size: 0.8em;
    padding: 0.5em;
    font-weight: bold;
}

.btn-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:active, &:hover, &:focus {
        background-color: darken($brand-primary, 10);
        border-color: darken($brand-primary, 10);
        cursor: pointer;
    }
}

.btn-xs {
    padding: 0.1rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0.05rem 0;
    border: $light-border;

    &.multiselect-container {
        font-size: 1em;
        padding: 0.5em;

        li a {
            width: 100%;
            display: inline-block;

            label {
                width: 100%;
                display: inline-block;
            }
        }
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.75rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    font-size: 0.8em;
}

a.dropdown-toggle {
    text-decoration: none;
    color: inherit;
}

.nav-tabs {
    .nav-item {
        a {
            color: $brand-primary;

            &.active {
                background: $brand-primary;
                color: white;
                border-color: darken($lightgrey, 15);
            }
        }
    }
}
